<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Internet Explorer block">
    <meta name="author" content="Cranes Team">
    <link rel="icon" href="../../../../favicon.ico"> <!--TODO Icon-->

    <title>Cranes Party. Internet Explorer</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../static/css/ie.css" rel="stylesheet">
</head>

<body>
<div class="container text-center">
    <div id="header" class="row">
        <div class="col align-items-start">
            <img class="mb-4" src="../static/img/logo-black.svg" alt="" width="150" height="150" style="margin: 0">
            <h4>We detected, that you're using Internet Explorer</h4>
            Don't do that. Download one of these modern, fast and safe browsers!
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="https://www.google.com/chrome/">
                <img src="../static/img/chrome-logo.svg" alt="Google Chrome" width="100" height="100">
                <br>
                Google Chrome
            </a>
        </div>

        <div class="col">
            <a href="https://www.mozilla.org/firefox/">
                <img src="../static/img/firefox-logo.svg" alt="Mozilla Firefox" width="100" height="100">
                <br>
                Mozilla Firefox</a>
        </div>

        <div class="col">
            <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">
                <img src="../static/img/ms-edge-logo.svg" alt="Microsoft Edge" width="100" height="100">
                <br>
                Microsoft Edge
            </a>
        </div>

        <div class="col">
            <a href="https://www.opera.com/">
                <img src="../static/img/opera-logo.svg" alt="Opera" width="100" height="100">
                <br>
                Opera
            </a>
        </div>
    </div>

    <p class="mt-5 mb-3 text-muted">Copyright &copy; 2019 Cranes. Rights not reserved yet :)</p>
</div>
</body>
</html>