<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Password Recovery">
    <meta name="author" content="Cranes Team">
    <link rel="icon" href="../../../../favicon.ico"> <!--TODO Icon-->

    <title>Cranes Party. Password Recovery</title>

    <script type="text/javascript">
        "use strict";

        //IE redirect
        var userAgent = window.navigator.userAgent;
        if (userAgent.indexOf('MSIE') >= 0 || userAgent.indexOf('Trident') >= 0)
            document.location.replace('ie.html');
    </script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../static/css/passwordrecovery.css" rel="stylesheet">
    <link href="../static/css/all.min.css" rel="stylesheet">

    <!-- Bootstrap scripts -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
<body class="text-center">
<div class="container">
    <form class="form-password-recovery" id="password-recovery" method="post">
        <img alt="" class="my-4" height="150" src="../static/img/logo-black.svg" width="150">

        <h1 class="mb-2">Forgot password?</h1>
        <p class="text-secondary lead mb-0">We'll send a reset link to your email!</p>
        <p class="text-secondary mb-4">Just leave it below</p>

        <label class="sr-only" for="email">Email address</label>
        <input autofocus class="mb-4 form-control" id="email" name="email" placeholder="Email address" required
               type="email">

        <button id="submit-button" class="mb-4 btn btn-lg btn-primary btn-block" type="submit">Send
            reset link
        </button>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                We sent you reset link. Check your mail
            </div>
        </div>
    </form>

    <p class="my-5 text-muted align-content-end" id="footer"></p>
</div>
</body>

<script type="text/javascript">
    "use strict";

    let now = new Date;
    document.getElementById('footer').innerText = 'Copyright © ' + now.getFullYear() + ' Cranes. Rights not reserved yet :)';

    document.getElementById("password-recovery").onsubmit = () => {
        $('.collapse').collapse();

        document.getElementById('submit-button').setAttribute('disabled', '');
        document.getElementById('submit-button').innerText = 'Send again in 01:00';

        //One minute timer
        const countDownTime = Date.now() + 60000;
        // Update the count down every 500 milliseconds
        let x = setInterval(() => {
            // Find the distance between now and the count down date
            let distance = countDownTime - Date.now();

            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            if (seconds < 10)
                seconds = '0' + seconds;

            document.getElementById('submit-button').innerText = 'Send again in 00:' + seconds;

            // Count down is over
            if (distance < 0) {
                clearInterval(x);
                document.getElementById('submit-button').removeAttribute('disabled');
                document.getElementById("submit-button").innerText = "Send again";
            }
        }, 500);

        return false;
    };

</script>

</html>
